<div class="col-xs-9">
    <input class="form-control" placeholder="search tweets" ng-model="d.searchVal">
</div>
<div class="col-xs-3 btn-wrapper">
    <button type="button" class="btn btn-primary" ng-click="d.searchForTweets()">Search</button>
</div>
<div class="col-xs-12" ng-if="result.results.length" class="results-wrapper">
    <div class="results-title">Top 20 Results</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in result.results">{{result}}</li>
    </ul>
</div>