@import "imports/variable";

.content{

}

[search-tweets-drtv]{
  .btn-wrapper{
    text-align: left;
  }

  button{
    margin-left: 15px;
  }
}

[history-results-drtv]{
  .fa{
    margin-left: 5px;
    border: 1px solid #000000;
    cursor: pointer;
  }
}

.twitter-btn{
  .fa-twitter{
    color: $paleBlueFC1;
  }
}